.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.active {
    color: #be185d;
}