.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.active {
    color: #be185d;
}

.dialog img {
    width: 30px;
}